<!--{"name":"asdas","appearance":"","temper":"","bio":"","skills":""}-->
<div>
    <p><h2>{{x.charlist.name}}</h2></p>
    <p>Игрок: {{x.log}}</p>
    <p><b>Внешность</b></p>
    <p>{{x.charlist.appearance}}</p>
    <p><b>Характер</b></p>
    <p>{{x.charlist.temper}}</p>
    <p><b>Биография</b></p>
    <p>{{x.charlist.bio}}</p>
    <p><b>Навыки</b></p>
    <p>{{x.charlist.skills}}</p>
</div>
